/* VARIABLES */
:root {
  --orange: #da722c;
  --dark-blue: #023047;
  --black: #070917;
  --blue: #6f7dfb;
  --azure-mist: #e8f7fb;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: var(--dark-blue);
  margin: 0;
}

h2.azure-mist {
  color: var(--azure-mist);
}

section p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--dark-blue);
  margin: 12px 0;
}

/* BUTTONS */
.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.btn.dark-blue {
  background-color: var(--dark-blue);
}

.btn.orange {
  background-color: var(--orange);
}

.btn.enroll-icon::before {
  content: url(https://res.cloudinary.com/dok4izhx6/image/upload/f_auto/v1723857672/pencil_ykmywx.svg);
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-icon {
  padding-left: 60px;
}

/* HEADER */
header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
}

nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-section .left {
  flex: 1;
}

.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 0;
}

.hero-section .left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  margin-bottom: 30px;
  width: 457px;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  height: 582px;
  vertical-align: middle;
}

.achievement-card {
  position: absolute;
  min-width: 200px;
}

.achievement-card .content {
  border-radius: 24px;
  background: #fff;
  padding: 8px 32px;
  z-index: 2;
  position: relative;
}

.achievement-card.students-enrolled {
  left: 49%;
  top: 270px;
}

.achievement-card.overall-rating {
  left: 45%;
  top: 470px;
}

.achievement-card .content div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.achievement-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-blue);
  margin: 0;
  text-align: center;
  width: 100%;
}

.achievement-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-blue);
  margin-top: -8px;
  margin-bottom: 8px;
}

.achievement-card .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  border-radius: 24px;
  top: 8px;
  left: 8px;
  z-index: 1;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.testimonials-section .mobile-btn {
  display: none;
}

.testimonials-section .testimonial-card {
  width: 442px;
  background: #ffffff;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card:first-child::before {
  content: "";
  width: 28px;
  position: absolute;
  height: 546px;
  top: -40px;
  left: 87px;
  background: var(--dark-blue);
  border-radius: 24px;
  z-index: -1;
}

.testimonials-section .testimonial-card .content {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  background: var(--blue);
  border-radius: 24px;
  padding: 24px 32px;
}

.testimonials-section .testimonial-card:last-child .content {
  background: var(--orange);
}

.testimonials-section .testimonial-card .info h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: var(--dark-blue);
  margin: 0;
}

.testimonials-section .testimonial-card .info {
  padding: 24px 32px;
}

.testimonials-section .testimonial-card .info p.company {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--dark-blue);
}

.testimonials-section .testimonial-card img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

.testimonials-section .testimonial-card:last-child {
  transform: translateX(32px);
}

.testimonials-section .features {
  margin-bottom: 30px;
}

/* COURSES SECTION */
.courses-section {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding: 70px 70px;
  padding-bottom: 120px;
}

.courses-section .wrapper {
  position: relative;
}

.courses-section .wrapper .btn {
  position: absolute;
  right: 0;
}

.courses-section h2 {
  text-align: center;
}

.courses-section .course-cards {
  display: flex;
  gap: 70px;
}

.courses-section .course-card img {
  width: 100%;
  height: 60%;
}

.courses-section .course-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 0 32px;
  margin: 40px 0;
  position: relative;
}

.courses-section .course-card::after {
  content: "";
  left: 32px;
  right: 32px;
  bottom: 0;
  height: 8px;
  background: var(--dark-blue);
  position: absolute;
  border-radius: 24px;
}

.courses-section .course-card h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;
  color: var(--dark-blue);
}

.courses-section .course-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.courses-section .course-card .duration {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-blue);
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
}

.courses-section .course-card .duration::before {
  content: url(https://res.cloudinary.com/dok4izhx6/image/upload/f_auto/v1723857667/clock_pez5aq.svg);
  position: absolute;
  top: 2px;
  left: -6px;
}

.app-section {
  text-align: center;
}

.app-section .app-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 24px;
}

.app-section .app-btn {
  padding: 16px 31px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
  min-width: 310px;
}

.app-section .app-btn span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
