/* VARIABLES */
:root {
  --orange: #da722c;
  --dark-blue: #023047;
  --black: #070917;
  --blue: #6f7dfb;
  --white: #e8f7fb;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

/* BUTTONS */
.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.btn.dark-blue {
  background-color: var(--dark-blue);
}

.btn.orange {
  background-color: var(--orange);
}

.btn.enroll-icon::before {
  content: url(https://res.cloudinary.com/dok4izhx6/image/upload/f_auto/v1723857672/pencil_ykmywx.svg);
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-icon {
  padding-left: 60px;
}

/* HEADER */
header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
}

nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-section .left {
  flex: 1;
}

.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 0;
}

.hero-section .left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  margin-bottom: 30px;
  width: 457px;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  height: 582px;
  vertical-align: middle;
}

.achievement-card {
  position: absolute;
  min-width: 200px;
}

.achievement-card .content {
  border-radius: 24px;
  background-color: var(--white);
  padding: 8px 32px;
  z-index: 2;
  position: relative;
}

.achievement-card.students-enrolled {
  left: 49%;
  top: 270px;
}

.achievement-card.overall-rating {
  left: 45%;
  top: 470px;
}

.achievement-card .content div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.achievement-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-blue);
  margin: 0;
  text-align: center;
  width: 100%;
}

.achievement-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-blue);
  margin-top: -8px;
  margin-bottom: 8px;
}

.achievement-card .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  border-radius: 24px;
  top: 8px;
  left: 8px;
  z-index: 1;
}
