/* VARIABLES */
:root {
  --orange: #da722c;
  --dark-blue: #023047;
  --black-russian: #070917;
  --blue: #6f7dfb;
  --azure-mist: #e8f7fb;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: var(--dark-blue);
  margin: 0;
}

h2.azure-mist {
  color: var(--azure-mist);
}

section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--dark-blue);
  margin: 12px 0;
}

/* BUTTONS */
.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.btn.dark-blue {
  background-color: var(--dark-blue);
}

.btn.orange {
  background-color: var(--orange);
}

.btn.enroll-icon::before {
  content: url(https://res.cloudinary.com/dok4izhx6/image/upload/f_auto/v1723857672/pencil_ykmywx.svg);
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enroll-icon {
  padding-left: 60px;
}

/* HEADER */
header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 0;
  padding: 36px 0;
  z-index: 3;
  transition: all 500ms ease;
}

nav.scrolled {
  background-color: var(--black-russian);
  box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 8px 8px;
  top: 0;
  padding: 12px;
}

nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

nav.mobile-nav {
  display: none;
}

.mobile-menu-container {
  display: none;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  color: #ffffff;
}

.hero-section .left {
  flex: 1;
}

.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 0;
}

.hero-section .left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 30px;
  width: 457px;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  height: 582px;
  vertical-align: middle;
}

.achievement-card {
  position: absolute;
  min-width: 200px;
  color: var(--dark-blue);
}

.achievement-card .content {
  border-radius: 24px;
  background: #fff;
  padding: 8px 32px;
  z-index: 2;
  position: relative;
}

.achievement-card.students-enrolled {
  left: 49%;
  top: 270px;
}

.achievement-card.overall-rating {
  left: 45%;
  top: 470px;
}

.achievement-card .content div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.achievement-card h3 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  text-align: center;
  width: 100%;
  flex: 1;
}

.achievement-card img{
  margin-left: -32px;
}

.achievement-card p {
  font-weight: 400;
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.achievement-card .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  border-radius: 24px;
  top: 8px;
  left: 8px;
  z-index: 1;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.testimonials-section .mobile-btn {
  display: none;
}

.testimonials-section .testimonial-card {
  width: 442px;
  background: #ffffff;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card:first-child::before {
  content: "";
  width: 28px;
  position: absolute;
  height: 546px;
  top: -40px;
  left: 87px;
  background: var(--dark-blue);
  border-radius: 24px;
  z-index: -1;
}

.testimonials-section .testimonial-card .content {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  background: var(--blue);
  border-radius: 24px;
  padding: 24px 32px;
}

.testimonials-section .testimonial-card:last-child .content {
  background: var(--orange);
}

.testimonials-section .testimonial-card .info h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: var(--dark-blue);
  margin: 0;
}

.testimonials-section .testimonial-card .info {
  padding: 24px 32px;
}

.testimonials-section .testimonial-card .info p.company {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--dark-blue);
}

.testimonials-section .testimonial-card img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 32px;
  bottom: 20px;
}

.testimonials-section .testimonial-card:last-child {
  transform: translateX(32px);
}

.testimonials-section .features {
  margin-bottom: 30px;
}

/* COURSES SECTION */
.courses-section {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  padding: 70px 70px;
  padding-bottom: 120px;
}

.courses-section .wrapper {
  position: relative;
}

.courses-section .wrapper .btn {
  position: absolute;
  right: 0;
}

.courses-section h2 {
  text-align: center;
}

.courses-section .course-cards {
  display: flex;
  gap: 70px;
}

.courses-section .course-card img {
  width: 100%;
  height: 60%;
}

.courses-section .course-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 0 32px;
  margin: 40px 0;
  position: relative;
}

.courses-section .course-card::after {
  content: "";
  left: 32px;
  right: 32px;
  bottom: 0;
  height: 8px;
  background: var(--dark-blue);
  position: absolute;
  border-radius: 24px;
}

.courses-section .course-card h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;
  color: var(--dark-blue);
}

.courses-section .course-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.courses-section .course-card .duration {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-blue);
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
}

.courses-section .course-card .duration::before {
  content: url(https://res.cloudinary.com/dok4izhx6/image/upload/f_auto/v1723857667/clock_pez5aq.svg);
  position: absolute;
  top: 2px;
  left: -6px;
}

.app-section {
  text-align: center;
}

.app-section .app-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 24px;
}

.app-section .app-btn {
  padding: 16px 31px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
  min-width: 310px;
}

.app-section .app-btn span {
  font-weight: 400;
  font-size: 24px;
}

/* FOOTER SECTION */
footer {
  background: var(--black-russian);
  color: #fff;
  margin-top: 100px;
  padding: 70px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer h3 {
  color: var(--orange);
}

footer ul {
  list-style: none;
  padding-left: 20px;
}

footer ul li {
  margin: 16px 0;
}

footer .links-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
  margin-left: 20px;
}

footer .social a {
  margin-right: 28px;
}

footer form {
  margin-left: 20px;
  margin-top: 16px;
  position: relative;
}

footer form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
  border-radius: 8px;
  padding: 8px 160px 8px 32px;
  border: none;
  width: 100%;
}

footer form .submit-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--dark-blue);
  border-radius: 8px;
  color: #fff;
  padding: 8px 32px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

footer .copyright {
  margin-top: 36px;
}

/* MEDIA QUERIES */
@media (max-width: 1150px) {
  .btn {
    padding: 12px 32px;
  }

  .wrapper {
    padding: 0 100px;
  }

  nav {
    width: 100%;
    left: 0;
    right: 0;
    padding: 36px 100px;
  }

  nav.scrolled {
    padding: 16px 100px;
  }

  .hero-section .left {
    position: absolute;
    top: 100px;
  }

  .hero-section .right {
    position: absolute;
    right: 0;
  }

  .hero-section .achievement-cards .achievement-card.students-enrolled {
    top: 550px;
    left: 0;
  }

  .hero-section .achievement-cards .achievement-card.overall-rating {
    left: 250px;
  }

  .hero-section {
    position: relative;
  }

  header,
  .hero-section,
  header .wrapper {
    max-height: 1000px;
  }

  .courses-section .course-cards {
    flex-direction: column;
    gap: 80px;
  }

  .courses-section .course-card {
    margin: 0;
  }

  .courses-section h2 {
    margin-bottom: 40px;
  }

  .courses-section .wrapper .btn {
    right: 0;
  }

  .courses-section .course-card:last-child {
    margin-bottom: 50px;
  }
}

@media (max-width: 1100px) {
  footer .links-container {
    grid-template-columns: 1fr 1fr;
  }

  footer .links-container .links:last-child {
    grid-column: 1 / 3;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section .right {
    bottom: 0;
  }

  .hero-section .left {
    width: 100%;
  }

  .hero-section .achievement-cards .achievement-card.students-enrolled {
    top: 600px;
  }

  .hero-section .achievement-cards .achievement-card.overall-rating {
    left: 100px;
  }
}

@media (max-width: 1000px) {
  .hero-section .right img {
    width: 400px;
    height: auto;
  }

  .testimonials-section .right h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .testimonials-section {
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  }

  .testimonials-section .testimonial-card {
    width: 100%;
    margin-bottom: 40px;
  }

  .testimonials-section .testimonial-card:last-child {
    transform: unset;
    margin-bottom: 0;
  }

  .testimonials-section .desktop-btn {
    display: none;
  }

  .testimonials-section .mobile-btn {
    display: block;
    align-self: flex-end;
    order: 3;
  }

  .testimonials-section .right p {
    display: inline;
  }

  .testimonials-section .right {
    order: 1;
  }

  .testimonials-section .left {
    order: 2;
  }
}

@media (max-width: 960px) {
  .hero-section .right img {
    width: 350px;
    height: auto;
  }
}

@media (max-width: 885px) {
  .hero-section .right img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 835px) {
  nav ul li a {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .hero-section .right img {
    width: 300px;
    height: auto;
  }

  .hero-section .achievement-cards .achievement-card.overall-rating {
    left: 0;
  }

  nav {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
  }

  nav.mobile-nav.scrolled {
    padding: 8px 100px;
    background: var(--blue);
    box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--black-russian);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 32px;
    right: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-container ul li {
    margin: 30px 0;
    text-align: center;
  }

  .mobile-menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .courses-section .wrapper {
    padding: 0;
  }

  .courses-section .course-cards {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 0 32px;
  }

  .app-section .app-btns {
    flex-direction: column;
  }
  nav.mobile-nav {
    padding: 32px;
  }

  nav.mobile-nav.scrolled {
    padding: 8px 32px;
  }

  .mobile-menu-container .close-icon {
    right: 36px;
    top: 40px;
  }

  .hero-section .left p {
    width: 100%;
  }

  .hero-section .achievement-cards .achievement-card.overall-rating {
    left: 100px;
  }
}

@media (max-width: 625px) {
  .hero-section .achievement-cards .achievement-card.overall-rating {
    left: 0;
  }
}

@media (max-width: 545px) {
  .hero-section .left p {
    font-size: 15px;
  }

  .hero-section .left h1 {
    font-size: 36px;
  }

  .hero-section .right {
    overflow: hidden;
    transform: translateX(32px);
  }

  .hero-section .right img {
    transform: translateX(80px);
  }

  .achievement-card h3 {
    font-size: 30px;
  }

  .hero-section .achievement-card {
    margin-bottom: 48px;
  }
}

@media (max-width: 475px) {
  .courses-section {
    padding: 100px 0;
  }

  .courses-section .btn {
    margin-right: 32px;
  }
}

@media (max-width: 400px) {
  .hero-section .achievement-card .content {
    text-align: center;
    padding: 0;
    width: 150px;
    position: absolute;
    bottom: -100px;
  }

  .hero-section .achievement-card {
    margin: 0;
  }

  .achievement-card .bg {
    top: 0;
    left: 4px;
    width: 150px;
  }

  .achievement-card h3 {
    font-size: 24px;
  }

  .achievement-card p {
    font-size: 14px;
  }

  .achievement-card .content img {
    position: absolute;
    right: 20px;
    width: 30px;
  }

  .hero-section .right img {
    width: 250px;
    transform: unset;
  }

  .testimonials-section .left .testimonial-card img{
    width: 80px;
    height: auto;
  }
}

@media (max-width: 380px) {
  .hero-section .right img {
    width: 200px;
  }

  .hero-section .right{
    transform: translateX(-1px);
  }

  .hero-section .left p{
    font-size: 12px;
  }

  .testimonials-section .left .testimonial-card .info h4{
    font-size: 18px;
  }

  .testimonials-section .left .testimonial-card .info p{
    font-size: 14px;
  }

  .testimonials-section .left .testimonial-card .content{
    font-size: 14px;
  }

  .wrapper{
    padding: 0 16px;
  }

  h2{
    font-size: 30px !important;
    text-align: center;
  }
}

@media(max-width: 350px){
  footer .links-container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }
  
  footer .links-container .links:last-child{
    grid-column: 1/2;
  }

  footer ul{
    padding: 0;
  }

  footer form .submit-btn{
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
  }

  footer form input {
    padding: 8px 32px;
  }

  footer .copyright{
    text-align: center;
    margin-top: 80px;
  }
}

@media(max-width: 330px){
  .courses-section .course-card .info{
    flex-direction: column;
    gap: 0px;
  }

  .courses-section .course-card h3{
    font-size: 24px;
    margin: 0;
  }

  .courses-section .course-card .duration{
    margin: 12px 0 12px;
  }
}
